<% wrap_layout :layout do %>

<div class="hero hero-md" id="hero-design-builder">
  <div class="hero-content">
    <div class="vertical-center">
      <div class="inner">
        <h1>
          DesignBuilder Resources
          <small class="secondary">
            Building Performance Analysis Software
          </small>
        </h1>
      </div>
    </div>
  </div>
</div>
<%= partial "partials/design_builder_nav" %>

<div class="resources">
	<div class="container">
		<div class="row">
			<div class="sidebar-navigation col-md-3">
				<h5>DesignBuilder Resources</h5>
				<ul>
					<li>
						<%= nav_link "Free trial", "#free-30-day-software-trial" %>
					</li>
					<li>
						<%= nav_link "Hardware Requirements", "#hardware-requirements" %>
					</li>
					<li>
						<%= nav_link "Recommended versions", "#recommended-versions" %>
					</li>
					<li>
						<%= nav_link "Learning resources", "#learning-resources" %>
					</li>
					<li>
						<%= nav_link "Downloads", "#downloads" %>
					</li>
				</ul>
			</div>
			<div class="col-md-9">
				<article>
					<%= yield %>
				</article>
			</div>
		</div>
	</div>
</div>

<div class="m-t-lg">
	<%= partial "partials/cta_training" %>
</div>

<% end %>
