<% wrap_layout :layout do %>

<div class="hero hero-md" id="hero-design-builder">
  <div class="hero-content">
    <div class="vertical-center">
      <div class="inner">
        <h1>
          DesignBuilder
          <small class="secondary">
            Building Performance Analysis Software
          </small>
        </h1>
      </div>
    </div>
  </div>
</div>
<%= partial "partials/design_builder_nav" %>

<div class="sw-option">
	<div class="container">
		<div class="row">
			<div class="sidebar-navigation col-md-3">
				<h5>DesignBuilder Options</h5>
				<ul>
					<li>
						<%= nav_link "Upcoming Courses", "#upcoming-courses" %>
					</li>
					<li>
						<%= nav_link "Registration", "#registration" %>
					</li>
					<li>
						<%= nav_link "Costs", "#costs" %>
					</li>
				</ul>
			</div>
			<div class="col-md-9">
				<article>
					<%= yield %>
				</article>
			</div>
		</div>
	</div>
</div>

<div class="m-t-lg">
	<%= partial "partials/cta_training" %>
</div>

<% end %>
