<% wrap_layout :layout do %>

<div class="hero hero-md" id="hero-design-builder">
  <div class="hero-content">
    <div class="vertical-center">
      <div class="inner">
        <h1>
          Design Builder Training 
          <small class="secondary">
            We offer a variety of training courses
          </small>
        </h1>
      </div>
    </div>
  </div>
</div>

<%= partial "partials/design_builder_nav" %>

<div class="training-module">
	<div class="container">
		<div class="row">
			<div class="sidebar-navigation col-md-3">
				<h5>Training Modules</h5>
				<ul>
					<% blog("training-modules").articles.each do |article| %>
					<li>
						<%= nav_link article.title, article.url %>
					</li>
					<% end  %>
				</ul>
			</div>
			<div class="col-md-9">
				<article>
					<h1><%= current_article.data.title %></h1>
					<%= yield %>
				</article>
			</div>
	</div>
</div>

<div class="m-t-lg">
	<%= partial "partials/cta_training" %>
</div>

<% end %>