<section class="customer-bar">
  <div class="container">
    <div class="row">
      <div class="image-bar-item col-lg-2 col-md-2 col-sm-2 col-xs-4">
        <%= image_tag "company_logos/company.png", class: "img-responsive" %>
      </div>
      <div class="image-bar-item col-lg-2 col-md-2 col-sm-2 col-xs-4">
        <%= image_tag "company_logos/company.png", class: "img-responsive" %>
      </div>
      <div class="image-bar-item col-lg-2 col-md-2 col-sm-2 col-xs-4">
        <%= image_tag "company_logos/company.png", class: "img-responsive" %>
      </div>
      <div class="image-bar-item col-lg-2 col-md-2 col-sm-2 col-xs-4">
        <%= image_tag "company_logos/company.png", class: "img-responsive" %>
      </div>
      <div class="image-bar-item col-lg-2 col-md-2 col-sm-2 col-xs-4">
        <%= image_tag "company_logos/company.png", class: "img-responsive" %>
      </div>
      <div class="image-bar-item col-lg-2 col-md-2 col-sm-2 col-xs-4">
        <%= image_tag "company_logos/company.png", class: "img-responsive" %>
      </div>
    </div>
  </div>
</section>