<section class="sub-nav">
  <div class="container">
    <%= link_to "DesignBuilder", "/designbuilder" %>
	<%= link_to "Which option is for you?", "/designbuilder/options" %>
    <%= link_to "Pricing", "/pricing" %>
    <%= link_to "Upcoming Courses", "/training" %>
    <%= link_to "Training Modules", "/training/3d-modeling" %>
    <%= link_to "Resources", "/designbuilder/resources" %>
    <%= link_to "Support", "/designbuilder/support" %>

  </div>
</section>
