<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-2 col-md-3 hidden-sm-down">
				<% link_to "/" do %>
	        <%= image_tag "logo.png" %>
	      <% end %>
			</div>
			<div class="col-lg-9 col-lg-offset-1 col-md-9">
				<div class="row">
					<div class="col-sm-4">
						<h4>Company</h4>
						<%= link_to "About", "/about" %>
						<%= link_to "Team", "/team" %>
						<%= link_to "Contact", "/contact" %>
					</div>
					<div class="col-sm-4">
						<h4>Services</h4>
						<%= link_to "Consulting", "/consulting" %>
						<%= link_to "Sans 10400-XA", "/consulting/sans-10400-xa" %>
						<%= link_to "Greenstar", "/consulting/greenstar-certification" %>
					</div>
					<div class="col-sm-4">
						<h4>Design Builder</h4>
						<%= link_to "Overview", "/design-builder" %>
						<%= link_to "Training", "/training" %>
						<%= link_to "Resources", "/design-builder/resources" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>



				



