---
date: 2016-05-10
title: SANS 10400-XA
description: Offering Rational Building Energy Assessments resulting in design freedom and appreciable cost savings.
image: background.jpg
---

#SANS 10400-XA Rational Assessment and Design
<p class="intro-paragraph"><%= current_article.data.description %></p>

Greenplan offers a comprehensive and advanced service regarding building energy assessments. This evaluates the performance of a building for every hour of the year, using representative weather data and incorporating not just the fenestration, but the complete building envelope and aspects like hot water generation, cooling and heating energy, lighting etc.

<blockquote>
	Greenplan has completed SANS 10400-XA assessments for more than 900 buildings
</blockquote>

**Our methodology gives design freedom back to Architects** as different design aspects can be weighed up against one another to provide an acceptable energy solution.


###Scope of Work
Our scope of work includes the following:

<table class="table">
	<tbody>
		<tr class="table-row-heading">
			<td>Communication / documentation</td>
			<td></td>
		</tr>
		<tr>
			<td>Communications, getting information</td>
			<td><%= image_tag "tick.png", class: "table-icon" %></td>
		</tr>
		<tr>
			<td>Studying drawings & related product specification documents</td>
			<td><%= image_tag "tick.png", class: "table-icon" %></td>
		</tr>
		<tr class="table-row-heading">
			<td>Appointment - Form 2</td>
			<td></td>
		</tr>
		<tr>
			<td>Filling in and signing Form 2 for local Council as competent person (energy)</td>
			<td><%= image_tag "tick.png", class: "table-icon" %></td>
		</tr>
		<tr class="table-row-heading">
			<td>Setting up Building Energy Models (certified software)</td>
			<td></td>
		</tr>
		<tr>
			<td>Actual Building Model (3-dimensional model with all actual fabric details)</td>
			<td><%= image_tag "tick.png", class: "table-icon" %></td>
		</tr>
		<tr>
			<td>Reference Building Model (3-D model with fabric details as per SANS 10400-XA)</td>
			<td><%= image_tag "tick.png", class: "table-icon" %></td>
		</tr>
		<tr>
			<td>Check models and running simulations (local weather data, hourly simulations)</td>
			<td><%= image_tag "tick.png", class: "table-icon" %></td>
		</tr>
		<tr>
			<td>Incorporate hot water calculations, air-conditioning, lights metabolic rate etc. as per SANS 10400-XA Standard</td>
			<td><%= image_tag "tick.png", class: "table-icon" %></td>
		</tr>
		<tr class="table-row-heading">
			<td>Data analysis</td>
			<td></td>
		</tr>
		<tr>
			<td>Comparing annual energy consumption via custom spread sheets</td>
			<td><%= image_tag "tick.png", class: "table-icon" %></td>
		</tr>
		<tr>
			<td>Comparing peak energy demand via custom spread sheets</td>
			<td><%= image_tag "tick.png", class: "table-icon" %></td>
		</tr>
		<tr class="table-row-heading">
			<td>Report</td>
			<td></td>
		</tr>
		<tr>
			<td>Detailed report  to Architect / Owner / Developer / Local Council</td>
			<td><%= image_tag "tick.png", class: "table-icon" %></td>
		</tr>
		<tr class="table-row-heading">
			<td>Sign-Off - Form 4</td>
			<td></td>
		</tr>
		<tr>
			<td>Filling in and signing off the certificate of completion (Form4) regarding energy.</td>
			<td><%= image_tag "tick.png", class: "table-icon" %></td>
		</tr>

	</tbody>
</table>

<h2>Fee Proposals</h2>
<p>
	Our fee proposals for the assessment of a building is based on two inputs:
</p>
<ul>
	<li>the total building floor area</li>
	<li>complexity of the building facades</li>
</ul>


**For a quotation please send us a complete set of drawings (either .dwg or .pdf format) with plans, elevations, sections and window schedules.**
