---
date: 2008-01-01
title: SANS 10400-XA
description: Offering Rational Building Energy Assessments resulting in design freedom and appreciable cost savings.
image: background.jpg
---

#SANS 10400-XA Rational Assessment and Design
<p class="intro-paragraph"><%= current_article.data.description %></p>

Greenplan offers a comprehensive and advanced service regarding building energy assessments. This evaluates the performance of a building for every hour of the year, using representative weather data and incorporating not just the fenestration, but the complete building envelope and aspects like hot water generation, cooling and heating energy, lighting etc.

<blockquote>
	Greenplan has completed SANS 10400-XA assessments for more than 1500 buildings
</blockquote>

**Our methodology gives design freedom back to Architects** as different design aspects can be weighed up against one another to provide an acceptable energy solution.


##Scope of Work
Our scope of work includes the following:

<table class="table">
	<tbody>
		<tr class="table-row-heading">
			<td>Communication / documentation</td>
			<td></td>
		</tr>
		<tr>
			<td>Communications, getting information</td>
			<td><%= image_tag "tick.png", class: "table-icon" %></td>
		</tr>
		<tr>
			<td>Studying drawings & related product specification documents</td>
			<td><%= image_tag "tick.png", class: "table-icon" %></td>
		</tr>
		<tr class="table-row-heading">
			<td>Appointment - Form 2</td>
			<td></td>
		</tr>
		<tr>
			<td>Filling in and signing <A href="#what-is-a-form-2-and-what-should-i-do-with-it" title="What is a Form 2 and what should I do with it?">Form 2</a> for local Council as competent person (energy)</td>
			<td><%= image_tag "tick.png", class: "table-icon" %></td>
		</tr>
		<tr class="table-row-heading">
			<td>Setting up Building Energy Models (certified software)</td>
			<td></td>
		</tr>
		<tr>
			<td>Actual Building Model (3-dimensional model with all actual fabric details)</td>
			<td><%= image_tag "tick.png", class: "table-icon" %></td>
		</tr>
		<tr>
			<td>Reference Building Model (3-D model with fabric details as per SANS 10400-XA)</td>
			<td><%= image_tag "tick.png", class: "table-icon" %></td>
		</tr>
		<tr>
			<td>Checking models and running simulations (local weather data, hourly simulations)</td>
			<td><%= image_tag "tick.png", class: "table-icon" %></td>
		</tr>
		<tr>
			<td>Incorporate hot water calculations, air-conditioning, lights metabolic rate etc. as per SANS 10400-XA Standard</td>
			<td><%= image_tag "tick.png", class: "table-icon" %></td>
		</tr>
		<tr class="table-row-heading">
			<td>Data analysis</td>
			<td></td>
		</tr>
		<tr>
			<td>Comparing annual energy consumption via custom spread sheets</td>
			<td><%= image_tag "tick.png", class: "table-icon" %></td>
		</tr>
		<tr>
			<td>Comparing peak energy demand via custom spread sheets</td>
			<td><%= image_tag "tick.png", class: "table-icon" %></td>
		</tr>
		<tr class="table-row-heading">
			<td>Report</td>
			<td></td>
		</tr>
		<tr>
			<td>Detailed report  to Architect / Owner / Developer / Local Council</td>
			<td><%= image_tag "tick.png", class: "table-icon" %></td>
		</tr>
		<tr class="table-row-heading">
			<td>Sign-Off - Form 4</td>
			<td></td>
		</tr>
		<tr>
			<td>Filling in and signing off the certificate of completion (<A href="#what-is-a-form-4-and-why-does-it-matter" title="What is a Form 4 and why does it matter?">Form 4</a>) regarding energy.</td>
			<td><%= image_tag "tick.png", class: "table-icon" %></td>
		</tr>

	</tbody>
</table>

##Fee Proposals##
<p>
	Our fee proposal for the assessment of a building is based on two parameters:
</p>
<ul>
	<li>Total building floor area.</li>
	<li>Complexity of the building facades.</li>
</ul>


**For a quotation please send us a complete set of drawings (.dwg and/or .pdf format) including plans & elevations and ideally sections and glazing schedules.**

##Frequently Asked Questions##

###What is the benefit of a "rational design"/"rational assessment" for SANS 10400 Part XA energy efficiency compliance?###
To achieve Part XA compliance, we carry out a complete rational energy assessment that addresses fenestration, shading, building fabric, insulation and hot water requirements by means of a sophisticated three-dimensional computer model.  This constitutes a **more flexible** and “customised” approach than the so-called prescriptive route’s fenestration calculations and absolute building fabric requirements.

In a rational assessment, different aspects of the design (some performing well, others poorly) may be weighed against one another to arrive at the **most sensible and cost-effective compliant solution**.  Just as the “normal”/prescriptive compliance route addresses fenestration, insulation, hot water etc.; so does the rational assessment, but with greater precision and flexibility.  Our report contains specifications covering glazing, insulation, hot water etc., which are verified in actual construction before [Form 4](#what-is-a-form-4-and-why-does-it-matter "What is a "Form 4" and why does it matter?") sign-off.  We are typically able to reach compliance with considerably **less onerous glazing** specifications than those resulting from the prescriptive route calculations, usually effecting a **significant capital saving**.

###What is a "Form 2" and what should I do with it?###
A Form 2 is a standard municipal building control form that must be submitted to the local council along with the building plans, if certain consultants/professionals are employed in addition to the main architect/principal agent.  A separate Form 2 is submitted for each such consultant. The appointment of an energy consultant such as Greenplan to undertake a rational Part XA assessment requires the submission of a Form 2 to council.  The Form 2 is where Greenplan acknowledges that we are taking responsibility for a certain aspect of the building design.  Formal appointment of Greenplan for your project is a prerequisite to our issuing a Form 2.

Greenplan provides a Form 2 on which we have filled in our relevant particulars and signed.  The building owner (typically our client) must then:
<UL>
<LI>If printing a hard copy to complete by hand or to submit, first ensure that "Document and markups" (or similar option) is selected in their PDF reader's print options. (Otherwise, critical information will be missing on the printout.)
<%= image_tag "consulting/document-markups.webp", class: "" %></LI>
<LI>Check/complete their project details at the top of the document.  The number and street name often needs to be completed as we seldom have this information.</LI>
<LI>Complete their own details in Section 1. If the building site's title deed is in the name of one entity, tick "I".  If it is in the name of multiple entities e.g. a couple, tick "we" and provide details for all owners.</LI>
<LI>Sign and date Section 1.</LI>
<LI>In Section 3, initial in the block to the left of our initial, next to Duty 19.</LI>
</UL>

The form may then be submitted to the local authority (council).  The submission of the Form 2 is done by the owner or architect/principal agent as part of the plan submission process - Greenplan does not provide this service and we do not require the completed form from you.  However, should council have queries about our Form 2, we will always do our best to help resolve these.

###What is a "Form 4" and why does it matter?###
A Form 4 is a standard municipal form building control form and is required for each [Form 2](#what-is-a-form-2-and-what-should-i-do-with-it "What is a "Form 2" and what should I do with it?") that has been submitted.  Depending on the nature of your project, a Form 4 may be required for certain disciplines of your project, each issued by a certain professional such as a fire engineer, a structural engineer and/or an energy consultant such as Greenplan.  Each provides a Form 4 specific to their field of expertise.  The Form 4 certifies that the actual construction of the project on site meets the relevant professional’s specifications for that project.

Whenever a "rational assessment" / "rational design" is carried out to achieve Part XA compliance, the council's building inspector will require a signed Form 4 issued by the energy consultant before the inspector can issue an occupancy certificate to the building owner/occupier.  **The Form 4 is thus of extreme importance.**

Greenplan will only issue a Form 4 on a project where we have carried out the Part XA rational design/rational assessment ourselves.  In order to issue the Form 4, Greenplan requires evidence from the owner or project team to prove that the construction is as per Greenplan's specifications.  Our list of required verification information is supplied with all quotations and is available on request.  

###Are there any additional costs you can invoice me?###
*I received your quotation for Part XA assessment.  Are there any additional costs that you can invoice me or is this quote the full amount that you will be charging?*

The quoted price covers:

* The issuing of our Part XA report with specifications. The quoted price covers performing the assessment and writing the report once, based on an accurate set of drawings/information provided.
* The issuing of our [Form 2](#what-is-a-form-2-and-what-should-i-do-with-it "What is a "Form 2" and what should I do with it?") taking professional responsibility for Part XA.
* The issuing of our [Form 4](#what-is-a-form-4-and-why-does-it-matter "What is a "Form 4" and why does it matter?") (final sign-off for Part XA after construction) if all of our specifications have been properly implemented in the actual construction, and the required evidence is supplied to us as per Appendix A of the quote.

Therefore, you could be charged more in any of the following cases:

* There are architectural changes, re-arrangement of window sizes etc, done after the drawings are provided to us to work from. Then our assessment could no longer be valid, in which case we would have to re-assess at additional cost. **We must be given accurate information to prevent this outcome.**
* The building was not constructed according to our specifications, so we cannot sign off. We could then try to re-assess with the design and materials as-built (at additional cost to you). If this configuration is found non-compliant then you would have to physically alter the construction to make it compliant (at your cost). **Our specifications must be taken seriously on site to prevent this from happening.**
* You are unable to supply Form 4 verification information of suitable quality, as outlined in Appendix A of our quotation.  We would then need to arrange a **site visit** by ourselves or a suitable proxy, at additional cost to you.

