---
title: Case Studies
---
<div id="case-studies-index">
	<div class="container text-center m-y-lg">
		<header>
			<h1 class="text-uppercase">Case Studies</h1>
			<p>A catalog of resources on how to succeed with video marketing.</p>
		</header>
	</div>

	<section>
		<div class="container">
			<div class="row">
				<% blog("case-studies").articles.each do |article| %>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="case-study-article">
							<% link_to article do %>
								<div class="image" style="background-image: url(<%= case_study_image(article) %>)">
								</div>
							<% end %>
							<div class="body">
								<div class="heading">
									<% link_to article do %>
										<div class="client"><%= article.metadata[:page]['customer'] %></div>
										<h5><%= article.title %></h5>
									<% end %>
								</div>
								<div class="description">
									<% link_to article do %>
										<%= article.metadata[:page]['description'] %>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</section>
</div>

<div class="m-t-lg">
	<%= partial "partials/cta" %>
</div>