<div class="hero hero-md hero-home">
  <div class="hero-content container">
    <h1 class="m-b-md">Consulting like a boss</h1>
  </div>
  <div class="hero-pattern snapfield"></div>
</div>

<div class="section-lg container">
	<div class="row">
		<div class="col-lg-4 col-sm-6">
			<h2>EDGE</h2>
			<p>
				EDGE, an acronym for Excellence in Design for Greater Efficiencies, EDGE is a new green building certification programme developed to empower the residential property market to design and build resource-efficient buildings. Its aim is to achieve a minimum savings of 20% energy, water and embodied energy in materials –this is the EDGE Standard.
			</p>
			<%= link_to "Learn more about EDGE", "/consulting/excellence-in-design-for-greater-efficiencies" %>
		</div>
		<div class="col-lg-4 col-sm-6">		
			<h2>Informing The Design</h2>
			<p>
				Considering to improve your current building’s performance or optimizing that new residence or office complex to utilizing the minimum energy and water while maintaining a healthy indoor environment quality and thermal comfort.  We offer our services to help you make informed decisions regarding the best way to spend your hard-earned cash to maximise your return on investment and select the most effective technologies for your development.
			</p>
			<%= link_to "Learn more about Informing The Design", "/consulting/informing-the-design" %>
		</div>
		<div class="col-lg-4 col-sm-6">
			<h2>Sustainable Energy Solutions</h2>
			<p>
				An increasing strain on ESKOM and the National Grid, have inspired many to consider alternative energy solutions in South Africa.  We can offer our services to determine what technologies would be most suitable for various projects. These include the use of Solar Thermal, Photovoltaics, Wind, Heat pumps, Passive ventilation or Rock Stores
			</p>
			<%= link_to "Learn more about Sustainable Energy Solutions", "/consulting/sustainable-energy-solutions" %>
		</div>
		<div class="col-lg-4 col-sm-6">
			<h2>Solar Loads</h2>
			<p>
				Identifying the solar loads on a structure is paramount to identifying regions where either additional insulation or in the case of fenestration external shading.  Reducing the solar loads on a building allows a significant reduction of HVAC sizing and in many cases opens opportunities for natural ventilation.
			</p>
			<%= link_to "Learn more about Solar Loads", "/consulting/solar-loads" %>
		</div>
		<div class="col-lg-4 col-sm-6">
			<h2>Natural Ventilation</h2>
			<p>
				Natural Ventilation or passive conditioning, has many health benefits as well as cost advantages if designed for correctly. We offer our services to analyse and evaluate building designs to determine the potential for natural ventilation and provide insight into modifications or alternative design considerations which could improve the effectiveness of utilizing natural ventilation.
			</p>
			<%= link_to "Learn more about Natural Ventilation", "/consulting/natural-ventilation" %>
		</div>
		<div class="col-lg-4 col-sm-6">
			<h2>Thermal Comfort</h2>
			<p>
				A comfortable workspace environment has been proven to improve the moral of the occupants and subsequently increase productivity of the occupants. Thermal comfort is a complex subject as each individual experience comfort under various conditions depending on the weather, season, sex, age, fitness levels, etc. Extensive research has indicated that although there is no perfect environment regarding thermal comfort, there are general conditions conducive to the majority of the population.
			</p>
			<%= link_to "Learn more about Thermal Comfort", "/consulting/thermal-comfort" %>
		</div>
		<div class="col-lg-4 col-sm-6">
			<h2>Wind Studies</h2>
			<p>
				Wind has many benefits, whether clearing the air or providing a comforting breeze during warm summer days, to adverse effects, including wind tunnel affects, acoustic irritation and structural damage. We make use of Computational Fluid Dynamics, to simulate wind effects in and around building structures and can provide insight into the predicted risks or required design considerations required to mitigated the negative influences of the wind.
			</p>
			<%= link_to "Learn more about Wind Studies", "/consulting/wind-studies" %>
		</div>
		<div class="col-lg-4 col-sm-6">
			<h2>Greenstar Certification</h2>
			<p>
				Registering your new building for a Green Star certification could have multiple benefits for both you and the building tenants. Green buildings use significantly less energy, while maintaining a healthy indoor environment for the occupants.  Due to the perceived building quality, tends to attracted higher lease and tenants.
			</p>
			<%= link_to "Learn more about Greenstar Assessments", "/consulting/greenstar-assessments" %>
		</div>
	</div>
</div>
