<div class="hero hero-md" id="hero-design-builder">
  <div class="hero-content">
    <div class="vertical-center">
      <div class="inner">
        <h1>
          Consulting Services 
          <small class="secondary">
            Building Performance Analysis Software
          </small>
        </h1>
      </div>
    </div>
  </div>
</div>

<section class="p-y-lg b-b">
	<div class="container">
		<div class="content-narrow">
			<header>
				<h3>We are the leading consulting engineers in SA</h3>
			</header>
			<p>
				<%= lorem.sentences 5 %>
			</p>
		</div>
	</div>
</section>

<div class="section-lg">
	<div class="container">
		<header class="section-header">
			<h3>Services</h3>
		</header>
		<div class="row">
			<% blog("consulting").articles.each do |service| %>
				<div class="service col-lg-3 col-md-4 col-sm-6 m-b-md">
					<% link_to service do %>
						<h4><%= service.title %></h4>
						<p>
							<%= service.metadata[:page]['description'] %>
						</p>
					<%= link_to "Learn more", service %>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>

<%= partial "partials/cta" %>