<div class="hero hero-sm hero-home">
  <div class="hero-content container">
    <h1 class="m-b-md">Consulting like a boss</h1>
  </div>
  <div class="hero-pattern snapfield"></div>
</div>

<section class="p-y-lg b-b">
	<div class="container">
		<div class="content-narrow">
			<header>
				<h3>We are the leading consulting engineers in SA</h3>
			</header>
			<p>
				<%= lorem.sentences 5 %>
			</p>
		</div>
	</div>
</section>

<div class="section-lg">
	<div class="container">
		<header class="section-header">
			<h3>Services</h3>
		</header>
		<div class="row">
			<% data.mysheet['services'].each_with_index do |service, i| %>
				<div class="service col-lg-3 col-md-4 col-sm-6 m-b-md">
					<% link_to "/consulting/#{service.slug}" do %>
					<h4><%= service.name %></h4>
					<p>
						<%= service.blurb %>
					</p>
					<%= link_to "Learn more", "/consulting/#{service.slug}" %>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>

<%= partial "partials/cta" %>