---
title: Design Builder
---

<div class="hero hero-md" id="hero-design-builder">
  <div class="hero-content">
    <div class="vertical-center">
      <div class="inner">
        <h1>
          DesignBuilder
          <small class="secondary">
            Building Performance Analysis Software
          </small>
        </h1>
      </div>
    </div>
  </div>
</div>
<%= partial "partials/design_builder_nav" %>

<div class="container m-t-lg">
	<div class="content-narrow">
		<article>
      <%= image_tag "design-builder/design-builder-logo.jpg", class: "m-b" %>
			<p>
				Greenplan offers <%= link_to "DesignBuilder Software", "http://www.designbuilder.co.uk/" %> sales, technical support and training in Southern Africa.  DesignBuilder is arguably the most advanced and user-friendly building performance analysis software available in the world today.
			</p>

			<p>
				DesignBuilder provides advanced modelling tools in an easy-to-use interface. This enables both architects and engineers to use the same software to develop comfortable and energy-efficient building designs from concept through to completion. You can build up models from scratch, using DXF or PDF 2-D drawings or importing 3-D models via gbXML format.
			</p>

       <%= image_tag "design-builder/visualisation.png", class: "m-b-md" %>
    </article>
  </div>
</div>

<div class="container m-t-lg">
  <div class="content-narrow">
    <article>
      <h3>SANS 10400-XA Certified</h3>

      <p>
        DesignBuilder has been certified by Agrément South Africa for energy modelling of buildings. Suitable to calculate energy requirements for all building types, including:
      </p>
      <ul>
        <li>small domestic buildings</li>
        <li>large commercial and institutional buildings with complex Heating Ventilation and Air-Conditioning systems</li>
      </ul>

      <p>Simulation results suitable for both rational design routes:</p>
      <ul>
        <li>model reference and actual buildings and compare results</li>
        <li>model actual building and compare with stipulated energy thresholds</li>
      </ul>
		</article>
	</div>
</div>

<div class="container">
	<div class="content-narrow">
		<article>
			<h2>Software Sales</h2>

			<p>
				Greenplan are the exclusive South African agents for DesignBuilder; providing sales, training and support for this leading building energy simulation tool. We have partnered with DesignBuilder UK to ensure that South Africa has access to the best tools on the market.
			</p>
			<p>
				For further information or a quotation, please contact our sales department - <%= link_to "sales@greenplan.co.za", "mailto:sales@greenplan.co.za" %>
			</p>
		</div>
	</article>
</div>

<section class="page-section m-b-lg">
  <div class="container">
    <div class="row">
      <div class="testimonial col-md-8 center-block">
        <div class="testimonial-block">
          <blockquote>
            "I've used the majority of the alternative building simulation software packages on the market, without a doubt DesignBuilder the most user-friendly and enjoyable to use."
          </blockquote>
          <h4 class="media-heading">Iain Begg<span>Shell Projects and Technology Group</span></h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cta">
  <div class="container">
  	<h4 class="m-b-lg">
  		Learn more about DesignBuilder
  	</h4>
    <%= link_to "Email sales@greenplan.co.za", "mailto:sales@greenplan.co.za?subject=Question about DesignBuilder", class: "btn green" %>
  </div>
</section>
