---
title: DesignBuilder
---

<div class="hero hero-md" id="hero-design-builder">
  <div class="hero-content">
    <div class="vertical-center">
      <div class="inner">
        <h1>
          DesignBuilder
          <small class="secondary">
            Building Performance Analysis Software
          </small>
        </h1>
      </div>
    </div>
  </div>
</div>
<%= partial "partials/design_builder_nav" %>

<div class="container m-t-lg">
	<div class="content-narrow">
		<article>
      <%= image_tag "design-builder/design-builder-logo.jpg", class: "m-b" %>
	  <P></p>
			<p>
				DesignBuilder is arguably the most advanced and user-friendly building performance analysis software available in the world today. It is versatile and can be used for a number of purposes, including building energy assessment, thermal comfort prediction, natural ventilation estimation, and daylight level calculation.
			</p>
			<p>
				Greenplan has partnered with DesignBuilder UK to ensure that South Africa has access to the best tools on the market.  As the sole South African agent for <%= link_to "DesignBuilder Software", "http://www.designbuilder.co.uk/" %> we provide sales, technical support and training in Southern Africa.
			</p>
       <%= image_tag "design-builder/visualisation.png", class: "m-b-md" %>
       <p></p>
			<p>
				DesignBuilder provides advanced modelling tools in an easy-to-use interface. This enables both architects and engineers to use the same software to develop comfortable and energy-efficient building designs from concept through to completion. You can build up models from scratch, using DXF or PDF 2-D drawings or importing 3-D models via gbXML format.
			</p>


    </article>
  </div>
</div>

<section class="page-section m-b-lg">
  <div class="container">
    <div class="row">
      <div class="testimonial col-md-8 center-block">
        <div class="testimonial-block">
          <blockquote>
            "I've used the majority of the alternative building simulation software packages on the market, without a doubt DesignBuilder the most user-friendly and enjoyable to use."
          </blockquote>
          <h4 class="media-heading">Iain Begg<span>Shell Projects and Technology Group</span></h4>
        </div>
        <p></p>
        <BR>
      </div>
    </div>
  </div>
</section>

<div class="container m-t-lg">
  <div class="content-narrow">
    <article>
      <h2>SANS 10400-XA Certified</h2>

      <p>
        DesignBuilder has been certified by Agrément South Africa for energy modelling of buildings (Version 5 included). It is suitable for calculating energy requirements of all building types, including:
      </p>
      <ul>
        <li>Small domestic buildings.</li>
        <li>Large commercial and institutional buildings with complex Heating Ventilation and Air-Conditioning systems.</li>
      </ul>

      <p>Simulation results suitable for both rational design routes:</p>
      <ul>
        <li>Model reference and actual buildings and compare results.</li>
        <li>Model actual building and compare with stipulated energy thresholds.</li>
      </ul>
		</article>
	</div>
</div>

<div class="container">
	<div class="content-narrow">
		<article>
			<p>
				For further information or a quotation, please contact our sales department - <script type="text/javascript" language="javascript">
<!--
// Email obfuscator script 2.1 by Tim Williams, University of Arizona
// Random encryption key feature coded by Andrew Moulden
// This code is freeware provided these four comment lines remain intact
// A wizard to generate this code is at http://www.jottings.com/obfuscator/
{ coded = "JKhIJ@bqIIdYhKd.jk.MK"
  key = "0zJSCEDqOhPAK84VeWcFn5MTUQpwoL7vZNRg2I6jXdfs39yYrkl1taHGbxBimu"
  shift=coded.length
  link=""
  for (i=0; i<coded.length; i++) {
    if (key.indexOf(coded.charAt(i))==-1) {
      ltr = coded.charAt(i)
      link += (ltr)
    }
    else {
      ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
      link += (key.charAt(ltr))
    }
  }
document.write("<a href='mailto:"+link+"'>"+link+"</a>.")
}
//-->
</script>
<noscript>Please enable Javascript in your browser.</noscript>
			</p>
		</div>
	</article>
</div>



<div class="m-t-lg">
	<%= partial "partials/cta_db" %>
</div>
