---
title: Greenplan
---

<div class="hero hero-home">
  <div class="hero-content container">
    <h1 class="m-b-md">Greenplan will make your buildings so green it will look like a jungle.</h1>
  </div>
  <div class="hero-pattern snapfield"></div>
</div>

<section class="section-lg b-b">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h4>XA-10400</h4>
				<p>
					Lorem ipsum dolor sit amet, sint omnis paulo ex per, atqui dolorem in vix. Id detraxit reformidans duo, vim nobis scaevola principes in, ne vim quaeque tractatos scripserit. Nec veniam virtute dolores ex, appareat disputationi nec ex.
				</p>
				<%= link_to "XA-10400", "/XA-10400" %>
			</div>
			<div class="col-md-6">
			</div>
		</div>
	</div>
</section>

<section class="section-lg b-b">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h4>Consulting</h4>
				<p>
					Lorem ipsum dolor sit amet, sint omnis paulo ex per, atqui dolorem in vix. Id detraxit reformidans duo, vim nobis scaevola principes in, ne vim quaeque tractatos scripserit. Nec veniam virtute dolores ex, appareat disputationi nec ex.
				</p>
				<%= link_to "Consulting", "/consulting" %>
			</div>
			<div class="col-md-6">
			</div>
		</div>
	</div>
</section>

<section class="section-lg b-b">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h4>Design Builder</h4>
				<p>
					Lorem ipsum dolor sit amet, sint omnis paulo ex per, atqui dolorem in vix. Id detraxit reformidans duo, vim nobis scaevola principes in, ne vim quaeque tractatos scripserit. Nec veniam virtute dolores ex, appareat disputationi nec ex.
				</p>
				<%= link_to "design-builder", "/design-builder" %>
			</div>
			<div class="col-md-6">
			</div>
		</div>
	</div>
</section>

<section class="" id="employers">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      <h3>A few of our customers</h3>
      </div>
    </div>
    <div class="row">
      <div class="image-bar-item col-lg-2 col-md-4 col-sm-4 col-xs-6">
        <%= image_tag "company_logos/journeyapps.png", class: "img-responsive" %>
      </div>
      <div class="image-bar-item col-lg-2 col-md-4 col-sm-4 col-xs-6">
        <%= image_tag "company_logos/electrum.png", class: "img-responsive" %>
      </div>
      <div class="image-bar-item col-lg-2 col-md-4 col-sm-4 col-xs-6">
        <%= image_tag "company_logos/fireworks.png", class: "img-responsive" %>
      </div>
      <div class="image-bar-item col-lg-2 col-md-4 col-sm-4 col-xs-6">
        <%= image_tag "company_logos/snapscan.png", class: "img-responsive" %>
      </div>
      <div class="image-bar-item col-lg-2 col-md-4 col-sm-4 col-xs-6">
        <%= image_tag "company_logos/fireid.png", class: "img-responsive" %>
      </div>
      <div class="image-bar-item col-lg-2 col-md-4 col-sm-4 col-xs-6">
        <%= image_tag "company_logos/olx.png", class: "img-responsive" %>
      </div>

      <div class="image-bar-item col-lg-2 col-md-4 col-sm-4 col-xs-6">
        <%= image_tag "company_logos/horn.png", class: "img-responsive" %>
      </div>
      <div class="image-bar-item col-lg-2 col-md-4 col-sm-4 col-xs-6">
        <%= image_tag "company_logos/allan_gray.png", class: "img-responsive" %>
      </div>
      <div class="image-bar-item col-lg-2 col-md-4 col-sm-4 col-xs-6">
        <%= image_tag "company_logos/lekker_slaap.png", class: "img-responsive" %>
      </div>
      <div class="image-bar-item col-lg-2 col-md-4 col-sm-4 col-xs-6">
        <%= image_tag "company_logos/travel_ground.png", class: "img-responsive" %>
      </div>
      <div class="image-bar-item col-lg-2 col-md-4 col-sm-4 col-xs-6">
        <%= image_tag "company_logos/wumdrop.png", class: "img-responsive" %>
      </div>
      <div class="image-bar-item col-lg-2 col-md-4 col-sm-4 col-xs-6">
        <%= image_tag "company_logos/intellection.png", class: "img-responsive" %>
      </div>
    </div>
  </div>
</section>
