---

---

<div class="hero" id="hero-home">
  <div class="hero-content">
    <div class="vertical-center">
      <div class="inner text-center">
      	<%= image_tag "home/hero-logo.png", class: "hero-logo" %>
        <h1>
          <small class="secondary">
            Experts in performance-based building design
          </small>
        </h1>
      </div>
    </div>
  </div>
</div>

<%# partial "partials/customer_bar" %>

<section class="section-lg feature b-b">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h4>SANS 10400-XA</h4>
				<p>
					Greenplan offers an advanced service regarding building energy assessments.  We have assessed more than 900 buildings ranging from homes through large office buildings to shopping malls.  Because all relevant aspects can be optimised, our assessments usually result in substantial construction materials savings.
				</p>
				<%= link_to "Learn more about SANS 10400-XA", "consulting/sans-10400-xa", class: "text-green" %>
			</div>
			<div class="col-md-6">
        <%= image_tag "home/sans-10400-xa.png", class: "img-fluid" %>
			</div>
		</div>
	</div>
</section>

<section class="section-lg feature b-b">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-push-6">
				<h4>Consulting</h4>
				<p>
					We offer services regarding sustainable energy solutions, solar loads, thermal comfort and general advice on passive building design concepts. Using Computational Fluid Dynamics, we perform detailed wind studies and natural ventilation analyses. We have extensive experience in terms of all Green Star SA Credits that require building performance modelling.
				</p>
				<%= link_to "Learn more about consulting", "/consulting", class: "text-green" %>
			</div>
			<div class="col-md-6 col-md-pull-6">
        <%= image_tag "home/consulting.jpg", class: "img-fluid" %>
			</div>
		</div>
	</div>
</section>

<section class="section-lg feature b-b">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h4>Design Builder</h4>
				<p>
					Greenplan offers DesignBuilder Software sales, technical support and training in Southern Africa. The software arguably represents one of the most advanced and user-friendly building performance software analysis packages available in the world today.
				</p>
				<%= link_to "Learn more about Design Builder", "/design-builder", class: "text-green" %>
			</div>
			<div class="col-md-6">
        <%= image_tag "design-builder/design-builder-logo.jpg", class: "img-fluid" %>
			</div>
		</div>
	</div>
</section>

<section id="testimonials">
  <div class="content-narrow">
    <blockquote>
      "Our submission has been successful!  Thanks again for your involvement – you solved a serious problem for us. The client is most grateful for the resulting savings and avoiding unnecessary and heavy fines for exceeding deadlines"
    </blockquote>
    <h5>Charles Hopkins, U-save project</h5>
  </div>
</section>

<%= partial "partials/cta" %>
