---
title: Team
---

<div class="hero hero-md" id="hero-team">
  <div class="hero-content">
    <div class="vertical-center">
      <div class="inner">
        <h1>
          Our Team
          <small class="secondary">
            Meet the awesome engineers behind Greenplan
          </small>
        </h1>
      </div>
    </div>
  </div>
</div>
<hr>
<section id="team" class="p-y-lg">
	<div class="container">
		<div class="content-narrow">
			<div class="col-md-6 col-md-push-6">
        <h5>Francois Joubert</h5>
				<p class="title text-green">Managing Director and Founder</p>
				<p>
					Francois founded Greenplan Consultants in 2007 after realising the huge impact buildings have on energy and building material resources. He is a passionate champion for the use of building performance simulation to aid designers and developers to create better buildings. He holds an M-Eng. in Aeronautical Engineering from the University of Stellenbosch and is a registered professional engineer.
				</p>
      </div>
      <div class="col-md-4 col-md-pull-5">
        <%= image_tag "team/Francois.JPG", class: "img-circle" %>
			</div>
    </div>
  </div>
</section>
<hr>
<section class="p-y-lg">
  <div class="container">
    <div class="content-narrow">
			<div class="col-md-6">
				<h5>Josebus (Sewis) Van Zyl</h5>
				<p class="title text-green">Computational Fluid Dynamics</p>
				<p>
					Sewis Van Zyl is responsible, amongst others, for general building performance modelling at Greenplan Consultants. With 15 years of experience in Computational Fluid Dynamics (CFD), he has a deep passion for combining the art and science of developing effective CFD solutions for complex natural ventilation and wind flow problems. Sewis holds a Ph.D. in Mechanical Engineering from the University of Stellenbosch. Prior to Greenplan Consultants, Sewis did post-doctoral work at both the University of Stellenbosch and National Renewable Energy Laboratory in the USA.
				</p>
			</div>
      <div class="col-md-4 col-md-push-1">
        <%= image_tag "team/Sewis.JPG", class: "img-circle" %>
      </div>
    </div>
  </div>
</section>
<hr>
<section class="p-y-lg">
  <div class="container">
    <div class="content-narrow">
      <div class="col-md-6 col-md-push-6">
        <h5>Kenneth Allen</h5>
        <p class="title text-green">Thermo-Fluid Dynamics</p>
        <p>
          Kenny Allen is responsible for, amongst other tasks, general building performance modelling. He enjoys the field of Thermo-Fluid Dynamics, and the related topics of power generation and renewable energy systems and technologies. He spent eight years doing research on thermal storage, with a focus on packed beds. Kenny holds an MSc(Eng) and a Ph.D. from the University of Stellenbosch and has also completed post-doctoral research at the same university.
        </p>
      </div>
      <div class="col-md-4 col-md-pull-5">
        <%= image_tag "team/Kenny.JPG", class: "img-circle" %>
      </div>
    </div>
  </div>
</section>
<hr>
<section class="p-y-lg">
  <div class="container">
		<div class="content-narrow">
			<div class="col-md-6">
				<h5>Sven Oxtoby</h5>
				<p class="title text-green">Building Performance Assessment</p>
				<p>
					Sven Oxtoby mainly conducts SANS 10400-XA rational energy assessments. Prior to joining Greenplan Consultants, he worked as a mechanical consulting engineer at WSP on Heating, Ventilation, Air-conditioning and Cooling; and previously specialised in thermal and daylight modelling. Sven holds a BSc in Mechanical Engineering from the University of Cape Town.
				</p>
			</div>
      <div class="col-md-4 col-md-push-1">
        <%= image_tag "team/Sven.JPG", class: "img-circle" %>
      </div>
    </div>
  </div>
</section>
<hr>
<section class="page-section m-b-lg">
  <div class="container">
    <div class="row">
      <div class="testimonial col-md-8 center-block">
        <div class="testimonial-block">
          <blockquote>
            "I'm completely blown away by the standards to which you and your team are being industry leaders locally and the level of competency and professionalism to which you all work; it's quite inspiring and respectful to tell the truth and has left me motivated to raise my own game where I can. I have nothing but respect for each of you and the level of professionalism and ethics to which you hold yourselves personally and through your work."
          </blockquote>
          <h4 class="media-heading">Dennis Guichard<span>DGA.Energy</span></h4>
        </div>
        <p></p>
        <BR>
      </div>
    </div>
  </div>
</section>


<div class="m-t-lg">
	<%= partial "partials/cta" %>
</div>
