---
title: Training
---

<div class="hero hero-md" id="hero-design-builder">
  <div class="hero-content">
    <div class="vertical-center">
      <div class="inner">
        <h1>
          DesignBuilder Training
          <small class="secondary">
            We offer a variety of training courses
          </small>
        </h1>
      </div>
    </div>
  </div>
</div>

<%= partial "partials/design_builder_nav" %>
<div class="training">
	<div class="container">
		<div class="row">
			<div class="sidebar-navigation col-md-3">
				<h5>DesignBuilder Training</h5>
				<ul>
					<li>
						<%= nav_link "Upcoming Courses", "#upcoming-courses" %>
					</li>
					<li>
						<%= nav_link "Registration", "#registration" %>
					</li>
					<li>
						<%= nav_link "Costs", "#costs" %>
					</li>
				</ul>
			</div>

			<div class="col-md-9">
			  <article>
				<header class="section-header">
					<div class="content-narrow">
						<h3>DesignBuilder Training Courses</h3>
						<p>
						DesignBuilder training courses are a great way to learn best-practice use of the software from the experts. Courses are suitable for new and experienced users alike. Note that our courses include short-term DesignBuilder Software licences for all attendees, allowing completion of the training prior to purchasing the software.
					</p>
					</div>
				</header>
				<div class="content-narrow">
					<h2 id="upcoming-courses" name="upcomingcourses">Upcoming courses</h2>
					<p>
						Courses are modular – you may attend any one or more topics. For the last three days it is assumed that you have an understanding of the 3D modeller and simulation aspects of DesignBuilder.
					</p>
					<table class="table training-courses">
						<thead>
							<tr>
								<th>Date</th>
								<th>Location</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
							<% data.training.courses.each do |course| %>
							<tr>
								<td><%= course.date %></td>
								<td><%= course.location %></td>
								<td>
									<h5><%= link_to course.title, course.link %></h5>
									<p>
										<%= course.description %>
									</p>
								</td>
							</tr>
							<% end %>
						</tbody>
					</table>
				<h2 id="registration">Registration</h2>
					<p>
						To register for the upcoming training course, please download and complete a <a href="http://www.greenplan.co.za/resources/Registration_Eng.pdf" target="_blank"><b>registration form</b></a> and return the completed form to <script type="text/javascript" language="javascript">
			<!--
			// Email obfuscator script 2.1 by Tim Williams, University of Arizona
			// Random encryption key feature coded by Andrew Moulden
			// This code is freeware provided these four comment lines remain intact
			// A wizard to generate this code is at http://www.jottings.com/obfuscator/
			{ coded = "TFDC@0oqqF6GLF.QC.bL"
			  key = "nwl76gzvAotT4OD8maMcFIGRE0bePCxkdXZKuLhQJ3U1ySpqj5srHiN2fVBYW9"
			  shift=coded.length
			  link=""
			  for (i=0; i<coded.length; i++) {
				if (key.indexOf(coded.charAt(i))==-1) {
				  ltr = coded.charAt(i)
				  link += (ltr)
				}
				else {
				  ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
				  link += (key.charAt(ltr))
				}
			  }
			document.write("<a href='mailto:"+link+"?subject=DesignBuilder training - Registration'>"+link+"</a>.")
			}
			//-->
			</script>
			<noscript>Please enable Javascript in your browser.</noscript>
					</p>

				<h2 id="costs">Costs</h2>
					<p>
						<b>R 3 450.00 (incl. VAT)</b> per person per day, with discounts available if three or more days are attended. A short-term DesignBuilder Software licence is included.
					</p>
				</div>
			</article>
			</div>
		</div>
	</div>
</div>

<div class="m-t-lg">
	<%= partial "partials/cta_training" %>
</div>